@charset "utf-8";
/* CSS Document */

body {
	height:100%; /*style="height:100%" es para poder ocupar el porcentaje en el div mapa porque si no se pone el div q se genera es de altura o height 0*/
	/*background:url(../image/FondoDegradado.jpg);
	background-repeat:repeat-x;*/
	background-color:#068fbd;
	/*margin:;/* no dejara espacion entre el DIV y el BODY*/
	font-family: sans-serif;
	color: #FFF;
	/*font-family:Georgia, "Times New Roman", Times, serif;/*Indicamos la familia de letra que usara en todo nuestro sitio ARIAL Y HELVETICA SIEMPRE ESTARAN*/
	text-align:center; /******Este debe estar para que se pueda centrar el contenedor principal*/
}
	#title,#title2{
		float:left;
		text-align:center !important;
	}
	#title2{ color:#F00
	}
.encabezado { /*nombre de nuestra clase. La diferencia entre Clase(Se repiten) y ID(Son unicos):*/
	display:inline-block;
	text-align:center;
	width:100%; /*ancho. LO QUERIAMOS DE 800 PERO AGREGAMOS 5 DE PADDING ASÍ QUE SE LOS RESTAMOS*/
	height:10%;/*altura.  LO QUERIAMOS DE 150 PERO AGREGAMOS 5 DE PADDING ASÍ QUE SE LOS RESTAMOS*/
	background-color:#000;
	background-image:url(../image/logo_uam_negromh_low.jpg);background-position:right; background-repeat:no-repeat;
	color:#FFF; /*Color del Texto*/
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;	
/*padding-left:5px;/*para que el texto del DIV no este pegado a los bordes, ESTA VALOR SE SUMA AL ANCHO DEL DIV POR LO CUAL SE TIENES QUE RESTAR A ESTAS PROPIEDADES*/
/*padding-top:5px;
/*Se puede ahorrar codigo poniendo padding:0px 10px 5px   TOP, LEFT, RIGTH*/

/*MARGIN es al exterior del DIV, PADDING es interior*/
/*margin:30px;*/
}
nav{color:#FFF;text-align:center;}

nav li{display:inline-block; margin:5px; 
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;	 
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}

.pie{
	width:100%;
	height:5%;
	float:left;
	background-color:#666;
}



.contenedor{
	position:relative;
	width:100%;
	height:100%; /*******Este debe estar para que se pueda centrar el contenedor principal*/
	margin:auto; /*******Este debe estar para que se pueda centrar el contenedor principal*/
}

h1{
	color:#FFF;
/*	font-size:14px;*/
	font-family: sans-serif;  color: #FFF;
	text-align:center;
}

.contenido h2, .contenido h3{
	color:#F0C;
	text-align:center;
}

.menu{
	overflow:hidden;
	width:30%;
	height:84%;
	float:left;
	background-color:#068FBD;
	text-align:justify;
	padding-top:5pz;
}

.encabezadoMenu{
	width:100%;
	float:left;
	text-align:center;
	


	
	/*background-color:#F00;
	/*padding-top:10px;
	padding-left:10px;*/
}

.fechaMenu{
	float:left;
	text-align:right;
	padding-top:10px;
	/*background-color:#00F;
	
	padding-left:10px;*/
}

.relojMenu{
		float:left;
	text-align:left;
	padding-top:10px;
	/*background-color:#F0F;
	padding-left:10px;*/
}

.formulario{
	width:100%;
	height:150px;
	display:block;
	overflow-y:scroll;
	overflow-x:auto;
	/*padding-top:10px;
	padding-left:10px;*/
	text-align:justify;
	/*background-color:#FFF;*/
}


#user{
	width:100%;
	text-align:left !important;
}


.mapa{
	width:70%;
	height:84%;
	float:left;
	background-color:#F00;
}
